.card {
  background-color: var(--color-light-blue);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.card:hover {
  box-shadow: 0 4px 8px var(--color-light-blue);
  transform: translateY(-5px);
}

figure {
  aspect-ratio: 1/1;
  width: 100%;
  margin: 0;
}